.ml-auto {
  margin-left: auto; }

.card-course-item {
  margin-top: 10px; }

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px; }

.checkbox-select-all-options {
  width: 160px;
  margin: 0 16px; }

.ti-split-v-alt,
.ti-bar-chart,
.ti-bar-chart-alt {
  text-decoration: none;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg); }
